@model List<Doctor>
<partial name="_AdminLayout" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center"><h2>ViewDoctor</h2>
            
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th>RoomNumber</th>
                            <th>id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doctor in Model)
                        {
                            <tr>
                                <td>@doctor.Name</td>
                                <td>@doctor.Surname</td>
                                <th>@doctor.Email</th>
                                <td>@doctor.RoomNumber</td>
                                <td>@doctor.ApplicationUserID</td>
                                <td>
                                    <form asp-action="DeleteDoctor" method="post">
                                        <input type="hidden" name="DoctorID" value="@doctor.DoctorID" />
                                        <button class="btn-primary"type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <a class="btn-primary" asp-controller="Admin"asp-action="AddDoctor">
                    <button class="btn-primary"> Add Doctor</button>
                </a>
                
            </div>

        </div>
    </div>
</div>