@model DepartmentDTO
<partial name="_AdminLayout"/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center"><h2>@Model.HospitalName</h2>
                <div class="row">
                    @foreach (var department in Model.Departments){
                        <div class="col-md-3 my-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">@department.DepartmentName</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Deprtment</h6>
                                    <p class="card-text">Örnek text</p>
                                    
                                </div>
                                <a class="card-link" asp-controller="Admin"asp-action="ViewPersonnel" asp-route-id="@department.DepartmentID">
                                        <button class="btn btn-outline-primary btn-sm" type="button">Personnel</button>
                                </a>

                                <form asp-controller="Admin" asp-action="DeleteDepartment" method="post">
                                    <input name="id" value="@department.DepartmentID" type="hidden"/>
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </div>

                        </div>

                    }

                </div>
            

                <a asp-controller="Admin"asp-action="AddDepartment" asp-route-id="@Model.HospitalID">
                    <button class="btn btn-primary" type="button">Add Department</button>
                </a>
                @* <form asp-controller="Admin"asp-action="AddDepartment" method="get">
                    <input type="hidden" name="hospitalID" value="@Model.HospitalID"/>
                    <button class="btn-primary" type="submit">Add Department</button>
                </form> *@
                
            </div>

        </div>
    </div>
</div>