@model List<Patient>

<h1>List of Patients</h1>

@foreach (var patient in Model)
{
    <div class="card">
        <h5 class="card-header">@patient.Name @patient.Surname @patient.ApplicationUser.ApplicationUserID</h5>
        <div class="card-body">
            <h5 class="card-title">Age : @patient.Age Height : @patient.Height Weight : @patient.Weight</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form asp-action="ViewDiagnosis" asp-controller="Doctor" method="get">
                <input type="hidden" name="id" value="@patient.ApplicationUser.ApplicationUserID">
                <button class="btn btn-primary"type="submit">Diagnose</button>
            </form>
            <a asp-action="AddReport" asp-controller="Doctor" class="btn btn-primary">Reports</a>
            <a asp-action="AddPrescription" asp-controller="Doctor" class="btn btn-primary">Presciption</a>
        </div>
    </div>
}