@model DiagnosisDTO
<h1 class="text-center">Diagnoses</h1>




<form asp-controller="Doctor" asp-action="AddDiagnosis" method="get">
    <input type="hidden" name="id" value="@Model.PatientID">
    <button class="btn btn-primary" type="submit">Add Diagnosis</button>
</form>
<a class="btn btn-primary" asp-action="ViewPatient" asp-controller="Doctor">Back</a>





<table class="table table-striped">
    <thead>
        <tr>
            <th>Diagnosis ID</th>
            <th>Diagnosis Description</th>
            <th>Diagnosis Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diag in @Model.Diagnoses)
        {
            <tr>
                <td>@diag.DiagnosisID</td>
                <td>@diag.DiagnosisDescription</td>
                <td>@diag.DiagnosisDate</td>
            </tr>
        }
    </tbody>
</table>
