@model ProfileDTO
<!DOCTYPE html>

<head>
    <div style="background-color: white; padding: 20px; border-radius: 10px; max-width: 600px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);text-align: center; margin:auto">
        <h1 style="margin-top: 1px;">My Profile</h1>
    </div>
    <style>
        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            border-radius: 4px;
            padding: 8px 16px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .nav-tabs {
            background-color: #f8f9fa;
        }

        .nav-link {
            color: #007bff;
            cursor: pointer;
        }

            .nav-link.active {
                background-color: #007bff;
                color: #fff;
            }

        .container {
            margin-top: 20px;
        }

        .card-container {
            margin-top: 30px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="showDetails()">My Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="showContactInfo()">My Contact Information</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div id="detailsContent">
                <table class="container p-2 my-4 border">
                    <tr>
                        <th>Name</th>
                        <td>@Model.Receptionist.Name</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>@Model.Receptionist.Surname</td>
                    </tr>
                    @if (Model.Receptionist.Age != null)
                    {
                        <tr>
                            <th>Age</th>
                            <td>@Model.Receptionist.Age </td>
                        </tr>
                    }
                    @if (Model.Receptionist.Weight != null)
                    {
                        <tr>
                            <th>Weight</th>
                            <td>@Model.Receptionist.Weight </td>
                        </tr>
                    }
                    @if (Model.Receptionist.Height != null)
                    {
                        <tr>
                            <th>Height</th>
                            <td>@Model.Receptionist.Height </td>
                        </tr>
                    }
                    <tr>
                        <th>Gender</th>
                        <td>@Model.Receptionist.Gender</td>
                    </tr>
                    <tr>
                        <th>Blood Type</th>
                        <td>@Model.Receptionist.BloodType</td>
                    </tr>

                </table>
            </div>
            <div id="contactInfoContent" style="display: none;">
                <table class="container p-2 my-4 border">
                    <thead>
                        <tr>
                            <th>Phone Number</th>
                            <td>@Model.Receptionist.PhoneNumber</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>@Model.Receptionist.Address</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>@Model.Receptionist.Email</td>
                        </tr>
                    </thead>
                </table>
            </div>

            <a asp-controller="Receptionist" asp-action="UpdateDetails" class="btn btn-primary">Update my details</a>
            <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Change my password</a>

        </div>
    </div>
    <script>
        function showDetails() {
            document.getElementById('detailsContent').style.display = 'block';
            document.getElementById('contactInfoContent').style.display = 'none';
        }

        function showContactInfo() {
            document.getElementById('detailsContent').style.display = 'none';
            document.getElementById('contactInfoContent').style.display = 'block';
        }
    </script>
    <br>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Receptionist Panel</a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a asp-action="ViewPatient" asp-controller="Receptionist" class="btn btn-primary">Patients</a>
            <a asp-action="ViewPatient" asp-controller="Receptionist" class="btn btn-primary">Patients</a>
            <a asp-action="ViewPatient" asp-controller="Receptionist" class="btn btn-primary">Patients</a>
        </div>
    </div>
</body>

</html>